momoka-node/node_modules
momoka-node/.env
momoka-node/coverage
momoka-node/coverage.json
momoka-node/lib/
momoka-node/database/*
momoka-node/da-verifier-database/*
.DS_Store
momoka-node/cache/*
momoka-node/src/__PLAYGROUND__/*
momoka-node/lens__da/*
.vscode
.idea
momoka-node/.env.test
momoka-rs/target/*
